*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


*{
	font-family: 'Open Sans', sans-serif;
}

#parent{
	position: relative;
	background: blue;
}

#container-one{
	display: inline-block;
	padding-left: 10px;
	padding-right: 150px;
	top: 10px;
}

#container-two{
	display: inline-block;
	height: 150px;
	width: 200px;
	padding-top: 20px;
	
}

#container-three{
	display: inline-block;
	height: 150px;
	width: 200px;
	
}

#container-four{
	display: inline-block;
	height: 150px;
	width: 200px;
	
}

#last{
	display: block;
}